body{
	background-image: url(../images/bg.jpg);
	margin: 0;
}
a{
	text-decoration: none;
}
p{
	margin: 0;
}
.clear{
	clear:both;
}
.main-content{
	margin-left: 15%;
	margin-top: 180px;
}

.login-tag,.login-notice{
	float: left;
}
.login-tag{
	margin-top: 3px !important;
}
.login-notice{
	display: inline-block;
	width: 410px;
	line-height: 24px;
}
.header-top{
	font-size: 14px !important;
	font-family: arial;
}
.new-divider{
	float: left;
	left: 34%!important;
}
.media-divider{
	display: none;
}
.left-side,.right-side{
	float: left;
}
.left-side{
	width: 31%;
	margin-right: 4.5%;
}
.right-side{
	width: 48%;
}
.icon-offset{
	margin-left: 15px !important;
}
.logo{
	float: left;
	margin-top: 7px;
	margin-right: 5px;
}
.message{
	width: 30%;
	position: absolute !important;
	margin-top: 50px !important;
	left: 30%;
}
.navbar {
	color: #999;
	overflow: visible;
	margin-bottom: 18px;
}
.navbar-inner {
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top,#333,#222);
	background-image: -ms-linear-gradient(top,#333,#222);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#222));
	background-image: -webkit-linear-gradient(top,#333,#222);
	background-image: -o-linear-gradient(top,#333,#222);
	background-image: linear-gradient(top,#333,#222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#222222',GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25),inset 0 -1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25),inset 0 -1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.25),inset 0 -1px 0 rgba(0,0,0,.1);
}
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 1000px;
}
.container {
	margin-right: auto;
	margin-left: auto;
}
.navbar a:hover{
	color:#fff;
}
.navbar .brand {
	float: left;
	display: block;
	padding: 8px 20px 12px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
	color: #999;
	padding-right: 0;
	padding-left: 0;
	margin-left: 0;
	/* float: right; */
	font-weight: bold;
	/* color: #000; */
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	font-family: "Microsoft Yahei"
}
.navbar .divider-vertical {
	height: 40px;
	width: 1px;
	margin: 0 9px;
	overflow: hidden;
	background-color: #222;
	border-right: 1px solid #333;
	float: left;
}
.school{
	font-size: 16px;
	float: left;
	line-height: 1;
	color: #999;
	font-family: "Microsoft Yahei";
	padding: 10px 0 12px;
}
.info{
	float: right;
}
.info ul{
	margin: 10px 0;
}
.info ul li{
	float: left;
	list-style:none;
}
.info ul li a{
	float: none;
	font-size: 13px;
	padding: 9px 10px 11px;
	line-height: 19px;
	color: #999;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	font-family: arial;
}
.info .github{
	font-size: 18px;
}
.table-sheet{
	margin-left: auto !important;
	margin-right: auto !important;
}
.table-sheet{
	color: #555;
	font-size: 14px !important;
	text-align: center;
	margin-bottom: 20px !important;
}
.table-sheet th{
	text-align: center !important;
}
.table-green{
	color: #119000!important;
}
.table-red{
	color: #CD2929!important;
}
.rank_i{
	width: 100%;
	height: 6px;
	border: 1px solid #e2e2e2;
	-moz-box-shadow: 1px 1px 3px #e2e2e2 inset;
	-webkit-box-shadow: 1px 1px 3px #e2e2e2 inset;
	box-shadow: 1px 1px 3px #e2e2e2 inset;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.rank_i i{
	background-color: #06f;
	float: left;
	height: 6px;
	moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.user-info,.gpa{
	float: left;
	font-family: "Microsoft Yahei";
	color: #333;
}
.gpa p{
	font-size: 33px;
}
.user-info{
	font-size: 14px;
	line-height: 25px;
	width:40%;
	margin-top: 16px !important;
	margin-right: 30px !important;
	padding: 14px !important;
}
.user-info a{
	color: #08c;
	margin-right: 5px;
	text-decoration: none;
	font-family: "Microsoft Yahei";
	font-size:25px;
}
.headphoto{
	font-size: 70px;
	float: left;
}
.credit{
	float: left;
	margin-left: 80px;
	margin-top: -22px;
}
.more{
	float: left;
	margin-right: 30px;
}
.share{
	float: left;
	margin-left: 30px;
	margin-top: 10px;
}
.share span{
	margin-right: 10px;
	float: left;
}
.share .share-button{
	background-image: url(../images/share.png);
	font-size: 12px;
	color: #999;
	margin: 0 5px 0 0;
	line-height: 20px;
	cursor: pointer;
	display: block;
	padding-left: 0;
	width: 20px;
	height: 20px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
}
.share-button:hover{
	opacity: .8;
}
.share-weibo{
	background-position: -72px;
}
.share-weichat{
	background-position: -24px !important;
}
.share-qzone{
	background-position: -48px;
}
.tags{
	margin-top: -20px;
	margin-left: 30px;
}
.peakedness-box {
	padding: 20px 20px 30px 20px;
	margin-bottom: 10px;
	clear:both;
	font-family: "Microsoft Yahei"
}
.peakedness {
	overflow: hidden;
	zoom: 1;
}
.border-r {
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #fff;
}
.peakedness-tips-box {
	overflow: hidden;
	zoom: 1;
	padding-bottom: 10px;
}
.peakedness .peakedness-tips {
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 720px;
	margin-left: 10px;
	text-align: center;
	font-size: 14px;
	padding: 10px 0;
}
.col-red{
	color:#F00;
}
.peakedness-one, .peakedness-one i {
	background: url(../images/peakedness-t.png) no-repeat;
	height: 48px;
	width: 950px;
	clear: both;
	float: right;
	position: relative;
}
.peaked-st {
	position: absolute;
	top: 23px;
	left: 0;
	width: 950px;
}
.peaked-st .st,.st-1{
	float: left;
}
.peaked-st .st-1 {
	width: 135px;
}
.peaked-st .st {
	width: 123px;
}
.peaked-st .st-2{
	width: 24px;
	float: right;
}
.peakedness-one i {
	width: 13px;
	height: 29px;
	background-position: 0 -151px;
	position: absolute;
	left: 0;
	top: 0px;
}
.credit-tag{
	position: absolute;
	top: -25px;
	font-size: 14px;
	color: #EE0808;
}
.table-divider:before,.table-divider:after{
	width: 37% !important;
}
#contact{
	cursor: pointer;
}
#cnzz_stat_icon_1252900199{
	display: none;
}

