body{
	background-image: url(../images/bg.jpg);
	margin: 0;
}
a{
	text-decoration: none;
}
.clear{
	clear:both;
}
.main-content{
	margin-left: 15%;
	margin-top: 180px;
}

.login-tag,.login-notice{
	float: left;
}
.login-tag{
	margin-top: 3px !important;
}
.login-notice{
	display: inline-block;
	width: 410px;
	line-height: 24px;
}
.header-top{
	font-size: 14px !important;
	font-family: arial;
}
.new-divider{
	float: left;
	left: 34%!important;
}
.left-side,.right-side{
	float: left;
}
.left-side{
	width: 31%;
	margin-right: 4.5%;
}
.right-side{
	width: 48%;
}
.icon-offset{
	margin-left: 15px !important;
}
.navbar {
	color: #999;
	overflow: visible;
	margin-bottom: 18px;
}
.navbar-inner {
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top,#333,#222);
	background-image: -ms-linear-gradient(top,#333,#222);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#222));
	background-image: -webkit-linear-gradient(top,#333,#222);
	background-image: -o-linear-gradient(top,#333,#222);
	background-image: linear-gradient(top,#333,#222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#222222',GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25),inset 0 -1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25),inset 0 -1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.25),inset 0 -1px 0 rgba(0,0,0,.1);
}
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 1000px;
}
.container {
	margin-right: auto;
	margin-left: auto;
}
.navbar a:hover{
	color:#fff;
}
.navbar .brand {
	float: left;
	display: block;
	padding: 8px 20px 12px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	line-height: 1;
	color: #999;
	padding-right: 0;
	padding-left: 0;
	margin-left: 0;
	/* float: right; */
	font-weight: bold;
	/* color: #000; */
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	font-family: "Microsoft Yahei"
}
.navbar .divider-vertical {
	height: 40px;
	width: 1px;
	margin: 0 9px;
	overflow: hidden;
	background-color: #222;
	border-right: 1px solid #333;
	float: left;
}
.school{
	font-size: 16px;
	float: left;
	line-height: 1;
	color: #999;
	font-family: "Microsoft Yahei";
	padding: 10px 0 12px;
}
.info{
	float: right;
}
.info ul{
	margin: 10px 0;
}
.info ul li{
	float: left;
	list-style:none;
}
.info ul li a{
	float: none;
	font-size: 13px;
	padding: 9px 10px 11px;
	line-height: 19px;
	color: #999;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	font-family: arial;
}
.info .github{
	font-size: 18px;
}